<!DOCTYPE html>
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to time-align</title>
    <style id="_stylefy-constant-styles_"></style>
    <style id="_stylefy-styles_"></style>
  </head>
  <body>
    <!-- loading icon ganked from here
         https://codepen.io/jczimm/pen/vEBpoL?q=loader&limit=all&type=type-pens -->

    <div id="tutorial">
    </div>
      <div id="app">
        <div class="spinner-container">
          <div class="showbox"
               style="display:flex;">
            <div class="loader">
              <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
              </svg>
            </div>
          </div>
        </div>
      </div>

    <!-- scripts and styles -->
    {% style "/css/screen.css" %}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <script type="text/javascript">
     var context = "{{servlet-context}}";
     var csrfToken = "{{csrf-token}}";
     document.addEventListener("contextmenu", function (e) {
       /* this is to stop long pressing (when adding inline period) from bringing up the context menu*/
       /* TODO find a way to isolate this to just the day view */
       e.preventDefault();
     }, false);

     window.mui_theme_palette = {
       "primary1Color": "#2196f3",
       "primary2Color": "#78909c",
       "primary3Color": "#90a4ae",
       "accent1Color": "#e91e63",
       "accent2Color": "#d81b60",
       "accent3Color": "#90a4ae",
       "alternateTextColor": "#cfd8dc",
       "secondaryTextColor": "#607d8b",
       "textColor": "#ffffff",
       "canvasColor": "#263238",
       "borderColor": "#cfd8dc",
       "disabledColor": "#b0bec5",
       "pickerHeaderColor": "#90a4ae",
       "clockCircleColor": "#607d8b",
       "shadowColor": "rgba(0, 0, 0, 0.87)"};

     window.mui_theme_overides = {
      "snackbar": {
      "backgroundColor": "#546e7a",
      "actionColor": "#263238"
      },
      "raisedButton": {
      "color": "#546e7a",
      "disabledColor": "#455a64"
      },
      "tableRow": {
      "selectedColor": "#455a64"
      },
      "toggle": {
      "thumbOffColor": "#455a64",
      "thumbOnColor": "#90a4ae",
      "trackOnColor": "rgba(120, 144, 156, 0.5)",
      "trackDisabledColor": "#37474f",
      "thumbDisabledColor": "#37474f",
      "trackOffColor": "#455a64",
      "thumbRequiredColor": "#78909c"
      },
      "slider": {
      "trackColor": "#607d8b",
      "trackColorSelected": "#b0bec5",
      "selectionColor": "#e91e63"
      },
      "timePicker": {
      "clockColor": "#37474f",
      "clockCircleColor": "#455a64",
      "headerColor": "#546e7a"
      },
      "textField": {
      "textColor": "#ffffff",
      "focusColor": "#ffffff"
      },
      "datePicker": {
      "selectColor": "#546e7a",
      "textColor": "#eceff1"
      }};

    </script>
    {% script "/js/app.js" %}
  </body>
</html>





