<!DOCTYPE html>
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to time-align</title>
    <style id="_stylefy-constant-styles_"></style>
    <style id="_stylefy-styles_"></style>
  </head>
  <body>
    <!-- loading icon ganked from here
         https://codepen.io/jczimm/pen/vEBpoL?q=loader&limit=all&type=type-pens -->

    <div id="tutorial">
    </div>
      <div id="app">
        <div class="spinner-container">
          <div class="showbox"
               style="display:flex;">
            <div class="loader">
              <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
              </svg>
            </div>
          </div>
        </div>
      </div>

    <!-- scripts and styles -->
    {% style "/css/screen.css" %}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <style>
      html, body {background-color: #1d262d;}
    </style>

    <script type="text/javascript">
     var context = "{{servlet-context}}";
     var csrfToken = "{{csrf-token}}";

     // https://coolors.co/2c3b46-903fda-d64d63-ebf1f3-dadddf
     // canvas    2c3b46
     // primary   903fda
     // alternate d64d63
     // text      ebf1f3
     // alt text  dadddf

     window.mui_theme_palette = {
       "primary1Color": "#66737F",
       "primary2Color": "#692e9f",
       "primary3Color": "#a461e0",
       "accent1Color": "#d64d63",
       "accent2Color": "#b04052",
       "accent3Color": "#dd6d7f",
       "alternateTextColor": "#dadddf",
       "secondaryTextColor": "#c7c9cb",
       "textColor": "#ebf1f3",
       "canvasColor": "#2c3b46",
       "borderColor": "#dadddf",
       "disabledColor": "#b0bec5",
       "pickerHeaderColor": "#a461e0",
       "clockCircleColor": "#c7c9cb",
       "shadowColor": "rgba(0, 0, 0, 0.87)"
     };

     window.mui_theme_overides = {
       "raisedButton": {
         "color": "#546e7a",
         "disabledColor": "#455a64"
       },
       "tableRow": {
         "selectedColor": "#455a64"
       },
       "toggle": {
         "thumbOffColor": "#455a64",
         "thumbOnColor": "#a461e0",
         "trackOnColor": "rgba(120, 144, 156, 0.5)",
         "trackDisabledColor": "#37474f",
         "thumbDisabledColor": "#37474f",
         "trackOffColor": "#455a64",
         "thumbRequiredColor": "#78909c"
       },
       "timePicker": {
         "clockColor": "#37474f",
         "clockCircleColor": "#455a64",
         "headerColor": "#546e7a"
       },
       "textField": {
         "textColor": "#ebf1f3",
         "focusColor": "#ebf1f3"
       },
       "datePicker": {
         "selectColor": "#546e7a",
         "textColor": "#eceff1"
       },
       "snackbar": {
         "backgroundColor": "#000000",
         "actionColor": "#903fda"
       }
     };
    </script>
    {% script "/js/app.js" %}
  </body>
</html>





