html, body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #c2c2c2;
}

div#app {
  height: inherit;
}

div#app > div {
  height: inherit;
}

.clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cssload-clock {
  border-radius: 353px;
  border: 18px solid rgb(0, 0, 0);
  height: 470px;
  width: 470px;
  position: relative;
  left: calc(50% - 253px);
  left: -o-calc(50% - 253px);
  left: -ms-calc(50% - 253px);
  left: -webkit-calc(50% - 253px);
  left: -moz-calc(50% - 253px);
}

.cssload-clock:after {
  content: "";
  position: absolute;
  background-color: rgb(0, 0, 0);
  top: 12px;
  left: 48%;
  height: 223px;
  width: 24px;
  border-radius: 29px;
  transform-origin: 50% 97%;
  -o-transform-origin: 50% 97%;
  -ms-transform-origin: 50% 97%;
  -webkit-transform-origin: 50% 97%;
  -moz-transform-origin: 50% 97%;
  animation: grdAiguille 2.3s linear infinite;
  -o-animation: grdAiguille 2.3s linear infinite;
  -ms-animation: grdAiguille 2.3s linear infinite;
  -webkit-animation: grdAiguille 2.3s linear infinite;
  -moz-animation: grdAiguille 2.3s linear infinite;
}

.cssload-clock:before {
  content: "";
  position: absolute;
  background-color: rgb(0, 0, 0);
  top: 35px;
  left: 48%;
  height: 206px;
  width: 24px;
  border-radius: 29px;
  transform-origin: 50% 94%;
  -o-transform-origin: 50% 94%;
  -ms-transform-origin: 50% 94%;
  -webkit-transform-origin: 50% 94%;
  -moz-transform-origin: 50% 94%;
  animation: ptAiguille 13.8s linear infinite;
  -o-animation: ptAiguille 13.8s linear infinite;
  -ms-animation: ptAiguille 13.8s linear infinite;
  -webkit-animation: ptAiguille 13.8s linear infinite;
  -moz-animation: ptAiguille 13.8s linear infinite;
}

@keyframes grdAiguille {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-o-keyframes grdAiguille {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
  }
}

@-ms-keyframes grdAiguille {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
  }
}

@-webkit-keyframes grdAiguille {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes grdAiguille {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}

@keyframes ptAiguille {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-o-keyframes ptAiguille {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
  }
}

@-ms-keyframes ptAiguille {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
  }
}

@-webkit-keyframes ptAiguille {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes ptAiguille {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
